.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--dark);
  padding: 4px 8px 4px 8px;
  font: var(--text16-20);
}

.row:hover {
  color: var(--light);
  background-color: var(--dark);
}

.year {
  text-align: center;
}

.link {
  text-align: right;
}
