@font-face {
  font-family: "You have never seen this font";
  src: url("./static/font/3A18EE_0_0.eot");
  src: url("./static/font/3A18EE_0_0.eot?#iefix") format("embedded-opentype"),
    url("./static/font/3A18EE_0_0.woff2") format("woff2"),
    url("./static/font/3A18EE_0_0.woff") format("woff"),
    url("./static/font/3A18EE_0_0.ttf") format("truetype");
}

:root {
  --fontFamily: "You have never seen this font", -apple-system,
    BlinkMacSystemFont, Roboto, Helvetica, Arial, "Apple Color Emoji",
    sans-serif;

  /* Text styles */
  --text16-20: 200 15px/19px var(--fontFamily);

  /* Colors */
  --dark: #1e1a14;
  --grey: #c4c4c4;
  --light: #e9e8e7;

  font-family: var(--fontFamily);
}
/* Mobile text styles  */

@media (max-width: 768px) {
  :root {
    --text16-20: 200 12px/16px var(--fontFamily);
  }
}

@media (max-width: 360px) {
  :root {
    --text16-20: 200 11px/14px var(--fontFamily);
  }
}

html {
  background-color: #e9e8e7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  color: var(--light);
  background-color: rgba(30, 26, 20, 0.99);
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
}
